[submodule "web/js/facebook"]
	path = web/js/facebook
	url = git://github.com/facebook/connect-js.git
[submodule "lib/vendor/facebook"]
	path = lib/vendor/facebook
	url = git://github.com/facebook/php-sdk.git
